/*
color palette:
1) Dark Grey: rgb(40, 40, 40)
2) Golden: rgb(230, 190, 125)
3) Off-White: rgb(230, 230, 230)
*/

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 100px;
    /* to account for sections visibility under header */
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    color: rgb(230, 230, 230);
    width: 100vw;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
    /* to control link style consistency */
}

h1 {
    font-family: 'Romanesco', Impact;
    font-size: 50px;
    color: rgb(230, 190, 125);
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Romanesco', Impact;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/*  ---------- HEADER ---------- */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    /* ensure it stays on top in foreseeable future */
    height: 100px;
    width: 100%;
    max-width: 1800px;
    /* reinstate max width due to change in position */
    background-color: rgb(40, 40, 40);
    line-height: 100px;
    /* to provide a vertical clearance for alignment */
}

#logo {
    float: left;
    margin-left: 40px;
}

#logo img {
    height: 90px;
    width: 90px;
    margin-right: 25px;
    vertical-align: middle;
}

#logo h1 {
    display: inline;
    vertical-align: middle;
}

#menu {
    list-style-type: none;
    float: right;
    line-height: 100px;
}

#menu li {
    letter-spacing: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}

#menu a:hover {
    border: 2px dotted rgb(230, 190, 125);
    border-radius: 5px;
}

#menu a {
    padding: 0 5px;
    /* to allow some breathing space for border */
}

/*---------- SECTIONS ----------*/

section {
    width: 100%;
    height: calc(100vh - 100px);
    /* remove 100px for header clearance */
    position: relative;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}

section:first-of-type {
    margin-top: 100px;
    /* bring all sections down to uncover from header */
}

section:last-of-type {
    height: calc(100vh - 200px);
    /* remove 200px for header and footer clearance */
    background-image: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40), rgb(230, 190, 125));
}

/* ---------- SECTION 1: LIVE ---------- */

#live-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0 auto;
}

#live-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* to avoid interaction with background media */
}

#live-events {
    height: calc(100vh - 200px);
    /* viewport height minus header minus two 50px clearances */
    width: 60%;
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    /* although redundant */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 50px;
    z-index: 1;
    /* to ensure it remains on top of background */
}

/* ---------- SECTION 2: ABOUT ---------- */



/* ---------- SECTION 3: CONTACT ---------- */

#contact-form {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: calc(50% + 25px);
    /* inconsistent with #live-events but for maximal form view in smaller desktops */
    border-radius: 50px;
    background-image: linear-gradient(rgb(230, 190, 125),rgb(40, 40, 40), rgb(40, 40, 40));
    display: grid;
    place-items: center;
}

input, textarea, label {
    display: block;
    margin-bottom: 10px;
}

#radio-group input, #radio-group label {
    display: inline-block;
    /* override the display block only for radio buttons */
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}

textarea {
    width: 250px;
    height: 241px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    resize: none;
    /* stop users from resizing */
}

input[type="submit"] {
    width: 250px;
    background-color: rgb(230, 190, 125);
    font-weight: bold;
    color: rgb(40, 40, 40);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(185, 150, 90);
    /* darker version of an existing palette */
}

#contact-form-col1, #contact-form-col2 {
    display:inline-block;
    vertical-align: top;
    height: 340px;
    width: 250px;
    margin: 10px;
}

/* ---------- FOOTER ---------- */

footer {
    height: 100px;
    background-color: rgb(230, 190, 125);
}