@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oswald:wght@300&family=Sacramento&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Sacramento', cursive;
*/

* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* will i really need this?*/
body {
    font-family: 'Oswald', sans-serif;
    color: #cbcbcb;
}

#logo,
#menu {
    line-height: 100px;
}

#logo {
    float: left;
    font-family: 'Sacramento', cursive;
    font-size: 250%;
    color: #eebb44;
}

#menu {
    font-family: 'Dosis', sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}